{deps, [
        {cowboy, "0.9.0", {git, "https://github.com/extend/cowboy.git", {tag, "0.9.0"}}}
%%        {jiffy,  "0.8.5", {git, "https://github.com/davisp/jiffy", {tag, "0.8.5"}}},
%%        {riakc,  "1.4.1", {git, "https://github.com/basho/riak-erlang-client", {tag, "1.4.1"}}},
%%        {uuid,   ".*",    {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}},
%%        {ej,     ".*",    {git, "https://github.com/seth/ej", "master"}}
       ]}.

{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
